<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>160255560970-ltjmg16lflu3ml2jmkgt2p25lkih082b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.160255560970-ltjmg16lflu3ml2jmkgt2p25lkih082b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>160255560970-co4j2sp1o9qu3j1jptrlvvosjshee8v9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDdkHGNpzdomZUGlDF0im47cK0rAMG4viE</string>
	<key>GCM_SENDER_ID</key>
	<string>160255560970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Wallet.MKSTaxi-App</string>
	<key>PROJECT_ID</key>
	<string>mkstaxi-a428d</string>
	<key>STORAGE_BUCKET</key>
	<string>mkstaxi-a428d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:160255560970:ios:064cd859a6f8341ad57ef3</string>
</dict>
</plist>
